.mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .w-100 {
    width: 100%;
  }
  